<h1> Google Login </h1>
  Click here to authenticate with Google
<form action="/auth/google" method="GET">
  <button type="submit"> GOOGLE BUTTON </button>
</form>

<form action="/auth/login" method="POST">
  <input name="username" type="email" placeholder="Enter your email address">
  <input name="password" type="password" placeholder="Enter your password">
  <button type="submit"> Login locally! </button>
</form>